pip install aiogram python-dotenv aiohttp
pip install gpt4all
pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu
pip install diffusers transformers accelerate scipy
pip install pillow
